.tl{
  padding-top: 300px;
  text-align: center;
  font-size: 100px;
  color: dimgray
}

.cl{
  margin-left: 200px;
}

.temp{
  margin-left: 30px;
  text-align: center;
  font-size: 90px
}

.temp2{
  margin-left: 300px;
  font-size: 70px
}

.temp3{
  font-size: 70px;
  margin-left: 200px
}


